.title-div {
    background-color:#F2F2F2;
    color: black;
    font-family: "Poppins", serif;
    font-size: calc(20px + 2.0vw);
    text-align: center;
    padding: 12% 0% 5% 0%;
    margin: 0% 0% 1% 0%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

li {
    margin: 0px 20px;
}

li a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-family: "Open Sans", serif;
}

li a:hover {
    color: #2D9BFC;
    text-decoration: none;
}

.body-div {
    background-color:#FCFCFC;
    border-style: solid;
    border-color: #EDEDED;
    border-width: 1.5px;
    color: lightblue;
    font-family: "Poppins", serif;
    font-size: calc(20px + 1.5vw);
    text-align: center;
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    width: 80%;
    max-width: 1200;
    margin: auto;
}
  
.flex-container {
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    width: 80%;
    max-width: 1200;

    
}
  
.flex-item-left {
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-color: #EDEDED;
    border-width: 1.5px;
    background-color:#FCFCFC;
    border-style: solid;

    box-sizing: border-box;
    flex: 49.5%;

    margin-bottom: 5px;
    margin-right: 0.5%;

}
  
.flex-item-right {
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em; 
    border-color: #EDEDED;
    border-width: 1.5px;
    background-color:#FCFCFC;
    border-style: solid;

    box-sizing: border-box;
    flex: 49.5%;

    margin-bottom: 5px;
    margin-left: 0.5%;
}

/* Extra small devices (phones, 800px and down) */
@media only screen and (max-width: 800px) {
    .title-div {
        padding: 25% 0% 5% 0%;
    }

    .body-div {
        width: 100%;
    }

    li a {
        color: black;
        text-decoration: none;
        font-size: 14px;
        font-family: "Open Sans", serif;
    }
    li {
        margin: 0px 12px;
    }

    .flex-item-right, .flex-item-left {
        box-sizing: border-box;
        flex: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }

    .flex-container {
        width: 100%;
    }

}

@media only screen and (max-width: 450px) {
    li {
        margin: 0px 5px;
    }

}