* {
    text-rendering:optimizeLegibility;
}

.title-div {
    background-color:#F2F2F2;
    color: black;
    font-family: "Poppins", serif;
    font-size: calc(20px + 2.0vw);
    font-weight: 500;
    text-align: center;
    padding: 12% 0% 5% 0%;
    margin: 0% 0% 1% 0%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

li {
    margin: 0px 20px;
}

li a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-family: "Open Sans", serif;
    font-weight: 400;
}

li a:hover {
    color: #2D9BFC;
    text-decoration: none;
}

.body-div {
    background-color:#FCFCFC;
    border-style: solid;
    border-color: #EDEDED;
    border-width: 1.5px;
    color: lightblue;
    font-family: "Poppins", serif;
    font-size: calc(20px + 1.5vw);
    font-weight: 500;
    text-align: center;
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    width: 80%;
    max-width: 900px;
    margin: auto;
}
  
.flex-container {
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: left;
    width: 95%;
    max-width: 900px;
}
  
.flex-item-left {
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-color: #EDEDED;
    border-width: 1.5px;
    background-color:#FCFCFC;
    border-style: solid;

    box-sizing: border-box;
    flex: 49.5%;

    margin-bottom: 5px;
    margin-right: 0.5%;

    padding: 15px 20px 15px 20px;
}
  
.flex-item-right {
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em; 
    border-color: #EDEDED;
    border-width: 1.5px;
    background-color:#FCFCFC;
    border-style: solid;

    box-sizing: border-box;
    flex: 49.5%;

    margin-bottom: 5px;
    margin-left: 0.5%;

    padding: 15px 20px 15px 20px;
}

.card-title {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;

    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 31px;
}

.card-subtitle {
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 10px 0px;

    text-align: center;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 18px;
}

.card-body {
    margin: auto;
    padding: 0px 0px 0px 0px;
    max-width: 340px;

    text-align: left;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 16px;
}

.card-image {
    margin: auto;
    display: block;
    padding: 0px 0px 0px 0px;
    text-align: center;

    width: 100%;
    max-width: 250px;
    height: auto;
}

/* Extra small devices (phones, ---px and down) */
@media only screen and (max-width: 800px) {
    .title-div {
        padding: 25% 0% 5% 0%;
    }

    .body-div {
        width: 100%;
    }

    li a {
        color: black;
        text-decoration: none;
        font-size: 14px;
        font-family: "Open Sans", serif;
        font-weight: 400;
    }
    li {
        margin: 0px 12px;
    }

    .flex-item-right, .flex-item-left {
        box-sizing: border-box;
        max-width: 500px;
        margin: auto;
        flex: 100%;

        margin-bottom: 10px;

    }

    .flex-container {
        width: 100%;
    }

    .card-body {
        margin: auto;
        padding: 5px 0px 0px 0px;
        max-width: 370px;
    }
    
        

}

@media only screen and (max-width: 450px) {
    li {
        margin: 0px 5px;
    }

}